/* ===================================================
AREA DOS CARDS (HERÓIS)
=================================================== */

.grid-herois{

display:grid;

grid-template-columns:repeat(5,150px);

justify-content:center;

gap:20px;

margin-top:20px;

}
