/* IMAGEM PRINCIPAL DO HERÓI */
.hero-img{
width:80%;
max-width:350px;
border-radius:20px;
margin-top:15px;

box-shadow:0 0 25px rgba(245,182,66,0.4);
}

/* TEXTO DE INFORMAÇÃO DESTACADA */
.info-destaque{
color:#f5b642;
font-weight:bold;
}

/* CAIXA DAS SKILLS */
.skill-box{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:20px;
margin-top:20px;

backdrop-filter:blur(4px);
}

/* TÍTULO DAS SKILLS */
.skill-box h3{
margin-top:10px;
color:#f5b642;
}

/* TEXTO PADRÃO */
.skill-box p{
font-size:14px;
line-height:1.5;
}

/* UTILITÁRIOS DE COR */

.dourado{
color:#f5b642;
}

.vermelho{
color:#ff4d4d;
}
