/* ===================================================
LOGO FIXA (NÃO OCUPA ESPAÇO)
=================================================== */

.logo-container-top{
position: fixed;
top: 30px;
right: 40px;
z-index: 1005;
pointer-events: auto;
}

.logo-top{
width: 170px;
height: auto;
display: block;
cursor: pointer;
transition: 0.3s;
filter: drop-shadow(0 0 10px rgba(255,200,0,0.6));
}

.logo-top:hover{
transform: scale(1.05);
}
