/* ===================================================
LOGO FIXA NO CANTO SUPERIOR DIREITO
=================================================== */

.logo-container{
position: fixed !important;
top: 10px !important;
right: 20px !important;
z-index: 9999 !important;
margin: 0 !important;
padding: 0 !important;
}

.logo-img{
width: 110px !important;
max-width: 110px !important;
cursor: pointer;
transition: 0.3s;
filter: drop-shadow(0 0 10px rgba(255,200,0,0.6));
}

.logo-img:hover{
transform: scale(1.05);
}
