/* ===================================================
LOGO FIXA NO TOPO
=================================================== */

.logo-container-top{
position: fixed;
top: 15px;
right: 20px;
z-index: 1005;
}

.logo-top{
width: 110px;
cursor: pointer;
transition: 0.3s;
filter: drop-shadow(0 0 10px rgba(255,200,0,0.6));
}

.logo-top:hover{
transform: scale(1.05);
}
