/* BOTÃO MENU */
.menu-btn{
position:fixed;
top:15px;
left:15px;
font-size:28px;
cursor:pointer;
z-index:1003;
}

/* MENU LATERAL */
.menu-lateral{
position:fixed;
top:0;
left:-260px;
width:260px;
height:100%;
background:linear-gradient(180deg,#0a0f2c,#050816);
padding-top:60px;
transition:0.3s;
z-index:1002;
}

/* MENU ATIVO */
.menu-lateral.ativo{
left:0;
}

/* LINKS DO MENU */
.menu-lateral a{
display:block;
padding:15px 25px;
color:white;
text-decoration:none;
font-size:16px;
transition:0.2s;
}

/* HOVER LINKS */
.menu-lateral a:hover{
color:#f5b642;
}

/* OVERLAY ESCURECIDO */
.overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(5,10,30,0.55);
backdrop-filter:blur(6px);
opacity:0;
visibility:hidden;
transition:0.3s;
z-index:1001;
}

/* OVERLAY ATIVO */
.overlay.ativo{
opacity:1;
visibility:visible;
}
