/* ===================================================
   NOX ASSISTENTE
=================================================== */

.nox-container {
  position: fixed;
  top: 15px;
  right: -350px;
  width: 260px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  transition: right 0.4s ease;
  z-index: 999;
}

.nox-container.active {
  right: 10px;
}

.nox-img {
  width: 90px;
}

.nox-box {
  background: rgba(17, 24, 60, 0.95); /* mais opaco */
  color: #ffffff;
  padding: 14px;
  border-radius: 14px;
  font-size: 13px;
  max-width: 160px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}
